
<% provide(:title, "Login") %>

<br>
<center>
<form action="/home">
    <b>Log in</b><br><br>
  Email:<br>
  <input type="text" name="firstname" value="" al>
  <br>
  Password:<br>
  <input type="text" name="lastname" value="">
  <br><br>
  <input type="submit" value="Submit">
</form> 
<br>
</center>



